.body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
	background-color:white;
	padding: 0;
	margin: 0;
}

// header start
.header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.header_wrapper {
    align-items: stretch;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: 38.96px;
}

.logo_wrapper {
    width: 70px;
    height: 38.96px;
    padding-left: 60px;
}
// header end

// first section start
.section {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.services {
    box-sizing: border-box;
    width: 1530px;
    display: flex;
    justify-content: center;
    align-content: center;

    padding-bottom: 90px;
    ul {
        list-style: none;
    }

}

.services_name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-variant: small-caps;
    color: #000000;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 84px;
}

.services_cost {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 65px;
    /* identical to box height */
    font-variant: small-caps;
    color: #000000;
    justify-content: center;
    align-content: center;
}
// first section end

// second section start












/* сброс всех отсупов от границ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; 
}