%scr-centering {
    box-sizing: border-box;
    width: 1534px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
	background-color:white;
	padding: 0;
	margin: 0;

}

.container {
    box-sizing: border-box;
    width: 1534px;
    display: flex;
    justify-content: center;
    align-content: center;
    
    ul {
        list-style: none;
        padding-bottom: 90px;
    }

}

// header start
.header {
    width: 100%;
    height: 80px;
    display: flex;
    z-index: 2;
    position: fixed;
}

.header_wrapper {
    align-items: stretch;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    justify-content: space-between;
    background: #fff;
    z-index: 100;
    
}

.logo {
    width: 70px;
    height: 38.96px;
}

.logo_wrapper {
    width: 70px;
    height: 38.96px;
    padding-left: 60px;
    
}
// header end

// first section start
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    
}

.container_name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-variant: small-caps;
    color: #000000;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 84px;
}

.container_cost {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 65px;
    /* identical to box height */
    font-variant: small-caps;
    color: #000000;
    justify-content: center;
    align-content: center;
}
// first section end

// second section start 
.price_block {
    width: 100%;
    height: 707px;
    display: flex;
    justify-content: center;
    overflow: auto;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.price_block_identity {
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    width: 1163px;
   

    h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}

.price_block_logotype {
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    width: 1163px;
    padding-top: 95px;

    h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}

.price {
    box-sizing: border-box;
    
    h2 {
        padding-bottom: 27px;
    }
}

.subject {
    box-sizing: border-box;
    align-self: flex-start;
    width: 511px;

    h2 {
        padding-bottom: 24px;
    }
}

span.price_block_name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    opacity: 0.4;
    padding-bottom: 49px;
    padding-right:990px;

    h2 {
        z-index: 1;
    }
}

.concept {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    color: #000000;
    padding-bottom: 17px;
}

h4.concept_header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    padding-top: 8px;

/* identical to box height, or 21px */


}

.concept_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    /* or 21px */
    color: #000000;
    line-height: 130%;
    margin-bottom: 15px;
}

.subject_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    /* or 21px */
    color: #000000;
    line-height: 190%;
}
//second section end

//third section start
.pictures_block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .container {
        flex-wrap: nowrap;
        width: 100%;
        height: 44vh;
        
    }
}

.pictures_block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .container {
        flex-wrap: nowrap;
       

        img {
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
        }
        
    }
}

//third section end

//fourth section start 
.services_block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    

    .price_block_name {
        display: flex;
        justify-content: center;
        padding-bottom: 49px;
        justify-content: left; 
        width: 1163px;
        
        
        
        span {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            /* identical to box height */
            text-transform: uppercase;
            color: #000000;
            opacity: 0.4;
            
        }
    }

    .container {
        flex-direction: column;
        width: 1534px;
        height: 496px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-top: 65px;
       
        
        .price {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 130%;

            span {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 190%;
            }

            h2 {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 38px;
                /* identical to box height */
                font-feature-settings: 'pnum' on, 'lnum' on;

            }

        }
        
    }
}

.count_block {
    align-items: center;
    display: flex;
    padding-top: 11px;
    width: 150px;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    /* or 30px */
}

.block1 {
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 1111px;
    justify-content: space-between;
    padding-right: 52px;

    p {
        line-height: 130%;
        
        
    }
    
}
 
.price_block1_lh {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    
    p {
        line-height: 0;
    }
}

.price_block2_lh {
    display: flex;
    padding-top: 10px;
    
}













/* сброс всех отсупов от границ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; 
}