.body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
	background-color:white;
	padding: 0;
	margin: 0;
}

* {
    box-sizing: border-box;
}

.logo {
    width:70px ;
    height: 38.96px;
    margin-top: 20px;
    margin-left: 80px;
}

.cap{
    line-height: 0;
    width: 100vw;
    height: 80px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  
}

.capfixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.container-head {
    display: block;
    height: 100%;
}

/* second screen first background */
.container-sec-scr {
    width: 100%;
    height: 59vh;
    background-size: cover;
    background-image: url(../img/polygon.jpg);
    background-attachment:scroll;      
}

div, p, input, button, span, a, ul, li {
	box-sizing: border-box;
}

.wrapper {
    text-align: center;
    display: block;
    justify-content: center; 
    height: 100vh;
    padding-top: 340px;
}

.initials {
    font-family: 'Raleway', light;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    /* margin-top:210px; */
    line-height: 21px;
    font-variant: small-caps;
}

.phrase {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    padding-top: 50px;
    font-weight: 400;
    margin: 0 auto;
    font-style: normal;
    line-height: 65px;
    text-align: center;
    font-variant: small-caps;
    display: block;
}

/* second sreen second background  */
.pattern {
    width: 100%;
    height: 276px;
    background-size: contain;
    position: relative;
    overflow: hidden;
}
.about {
     justify-content: left;
     text-align: left;
     font-family: 'Raleway', sans-serif;
     display: flex;
     margin-top: 38px;
     margin-left: 350px;
 }

.name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    font-variant: small-caps;
    padding-top: 39px;
    
 }

.info {
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    font-variant: small-caps;
    margin-top: 90px;
    text-align: left;
 }

 
 /* pictures block */
.pictures1 {
    line-height: 0;
 }

.pictures2 {
    line-height: 0;
}

/* fourth block */
.section4 {
    width: 100%;
    height:308px;
    justify-content: center;
}
 /* text format */
.view {
    padding-left: 380px;
    padding-top: 85px;
    text-align: left
}

.join {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.quetly {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    font-variant: small-caps;
}

.performance {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    font-variant: small-caps;
}

/* fifth block */
.section5 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/stages.png);
    background-size: cover;
}

/* fifth block text */
.stages {
    padding-left: 380px;
    padding-top: 350px;
    text-align: left;
}

p.stages-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 30px;
}

p.stages-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    padding-bottom: 10px;
}

p.stages-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 29px;
}

/* sixth block */
.section6 {
    width: 100%;
    height: 510px;
}

.list {
    padding-top: 100px;
    padding-left: 380px;
    height: 300px;
}

span.indent {
    margin-bottom: 20px; /* костыль для нижнего отсутпа пункта "Услуги" */
    display: flex;
}

.list-text_first {
    justify-content: space-between;
    width: 1102px;
    display:flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    padding-bottom: 25px;
    
}

.list-text_second {
    justify-content: space-between;
    width: 1102px;
    display:flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    /* border-bottom: 1.8px solid black;
    height: 24px; */
}



/* list undedrline */
.list-logotypes {
    border-bottom: 1.8px solid black;
    height: 24px;
}

.list-presentations {
    border-bottom: 1.8px solid black;
    height: 24px;
}

.list-content {
    border-bottom: 1.8px solid black;
    height: 24px;
}

.list-identity {
    border-bottom: 1.8px solid black;
    height: 24px;
}

span.list-infographics {
    margin-right: 7px;
    border-bottom: 1.8px solid black;
    height: 24px;
}

.list-offline_advertising {
    margin-right: 155px;
    border-bottom: 1.8px solid black;
    height: 24px;
}

/* services links */
.services {
    text-decoration:none;
    color: #666
}

.buttonbrif {
    padding-top: 101px;
    margin-bottom: 50px;
}

.button-enroll {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22.9663px;
    line-height: 27px;
    width: 396.99px;
	height: 73px; 
    padding-top: 21px;
    background-color: white;
	color: black;
	border-radius: 100px;
	display: block;
	text-align: center;
	text-decoration:none;
	text-transform:uppercase;
    border: 2px solid black;
	display: flex;
    justify-content: center;
	/* transition: all 0.5s ease; */
	cursor: pointer;
    margin-left: 725px;
}

/* seventh block */
.section7 {
    width: 100%;
    height: 395px;
    display: block;
}

.main-contacts {
    justify-content: space-between;
    display: flex;
    height: 100%;
}

.info-contacts {
    width: 800px;
    padding-left: 380px;
    display: block;
    padding-top: 100px;
}

p.contacts{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    
}

p.respond {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 11px;
}

.cooperation {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 13px;
    
}

span.coop {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;  
    display: flex;
    padding-bottom: 13px;
}

span.writeme {
    padding-top: 14px;
    display: flex;
    padding-bottom: 10px;
    
}

span.mailto {
    display: flex;
    
}

span.tg {
    display: flex;
}

.call {
    padding-right: 740px;
    padding-top: 162px;

}

.makecall {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    display: flex;
}

.mobilenumber {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    margin-top: 14px;
}

.phonenumber {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    font-feature-settings: 'pnum' on, 'lnum' on;
}


/* Footer */
.footer {
    width: 100%;
    height: 400px;
    display: block;
}

.capfooter {
    padding-top: 79.01px;
    padding-left: 380px;
    display: flex;
}

.logofooter {
    display: block;
    width: 100px;
    height: 54.97px;
}

.indentfooter {
    padding-left: 161px;
}

.socials {
    line-height: 0;
    display:flex;
    padding-left: 380px;
}

.socialsfooter {
    line-height: 0;
    display:flex;
    justify-content: space-between;
    width: 100px;
    height: 24px;
}

span.initials_footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;   
    display: flex;
    padding-left: 380px;
    padding-top: 10px;
}

p.stages_footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    opacity: 0.4;
    text-transform: uppercase;
}

.footerlist-text_first {
    justify-content: space-between;
    width: 739px;
    display:flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    color: #000000;
    opacity: 0.4;
    padding-top: 15px;
    padding-bottom: 8px;
   
}

.footerlist-text_second {
    justify-content: space-between;
    width: 739px;
    display:flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    color: #000000;
    opacity: 0.4;
   
}

.footerlist-offline_advertising {
    padding-right: 97px;
}

.footerlist-infographics {
    padding-right: 5px;
}

.contacts_list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    text-transform: uppercase;
    color: #000000;
    opacity: 0.4;
    padding-left: 170px;
}

p.contacts_footer {
    padding-bottom: 7px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    text-transform: uppercase;
    color: #000000;
    opacity: 0.4;
}

.contacts_footer-wrapper {
    padding-left: 170px;
}

.catalogue {
    line-height: 30px;
    list-style: none;
}

.services-wrapper {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    color: #000000;
    opacity: 0.4;
}

.footerlist-email {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    color: #000000;
    opacity: 0.4;
}



/* https://t.me/fejenko */
/* сброс всех отсупов от границ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}



