<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FEJENKO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="shortcut icon" href="/img/shortcuticon.png" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img class="logo header__img" src="/img/logo.svg" alt="logo">
        </div>
        <!-- <div class="menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div> -->
        <div class="menu">
            <div class="menu__container">
                <nav class="menu__list">
                    <ul>
                        <li><a class="menu__link" href="/index.html">Главная</a></li>
                        <li><a class="menu__link" href="/services.html">Услуги и стоимость</a></li>
                        <li><a class="menu__link" href="#">Оставить заявку</a></li>
                        <li><a class="menu__link" href="/portfolio.html">Портфолио</a></li>
                        <li><a class="menu__link" href="/aboutme.html">Обо мне</a></li>
                    </ul>
                </nav>
                <div class="socials menu__socials">
                    <div class="socials__list">
                        <a href="https://www.instagram.com/fejenko/" target="_blank">
                            <img src="/img/instagram_logo.svg" alt="instagram logo">
                        </a>
                        <a href="https://t.me/fejenko" target="_blank">
                            <img src="/img/telegram.svg" alt="telegram logo">
                        </a>
                    </div>
                    <div class="socials__list">
                        <a href="https://www.behance.net/fejenko" target="_blank">
                            <img src="/img/behance_logo.svg" alt="behance logo">
                        </a>
                        <a href="https://dribbble.com/fejenko" target="_blank">
                            <img src="/img/dribbble_logo.svg" alt="dribble logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="error">
        <div class="container error__container">
            <div class="error__wrapper">
                <img class="cat403" src="/img/errorImg/image 89 (Traced).svg" alt="">
                <div class="error403 error403_padding-top-bot">
                    <div class="title">
                        Ошибка 404
                    </div>
                    <div class="subtitle">
                        Страница не найдена
                    </div>
                    <div class="text">
                        Страница устарела, была удалена или не существовала вовсе
                    </div>
                </div>
                <a href="/index.html">
                    <button class="error403__button">
                        Вернуться на главную
                    </button>
                </a>
                <div class="error__socials error__socials_padding-top">
                    <div class="error__socials-lblock">
                        <a class="error__link" href="" target="_blank"> 
                            <img class="" src="/img/telegram.svg" alt=""> 
                        </a>
                        <p class="text">
                            Ошибку устраняем. Сейчас вы
                            <br>можете написать в телеграме.
                        </p>
                    </div>
                    <div class="error__socials-rblock">
                        <div class="error__img-container">
                            <a href="" target="_blank"> 
                                <img src="/img/behance_logo.svg" alt=""> 
                            </a>
                            <a href="" target="_blank"> 
                                <img src="/img/dribbble_logo.svg" alt=""> 
                            </a>
                        </div>
                        <p class="text">
                            Посмотрите моё портфолио
                            <br>на платформах Behance или Dribble.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"> 
    </script>
    <script src="/js/defaultScripts.js"></script> 
</body>
</html>